<!DOCTYPE html>
<style>
    body {
    width:100%;
    height: 100%;
    margin: 0 auto;
}
.menu-principal {
    width: 100%;
    background-color: #252323;
    height: 60px;
}
main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo {
    float: left;
    padding: 0;
    width: 70%;
}
.redes-sociais ul li {
    margin-top: 16px;
    margin-left: 15px;
    display: inline-block;
    float: left;
    list-style: none;
}
.redes-socias {
    width: 25%;
    float: right;
}
.header-2 {
    background-color: #ffffff;
    width: 100%;
    border-top: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
}
.menu ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu {
    width: 70%;
    float: left;
}
.busca {
    width: 30%;
    float: right;
}
</style>
<html lang="en">
    <head>
        <meta charset="UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> DashBoard </title>
    </head>
    <body>
        <header class="menu-principal">
            <main>
                <div class="header-1">
                    <div class="logo">
                        <img src="./img/logo.png" />
                    </div>
                    <div class="redes-sociais">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="./img/linkedin.png" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="./img/twitter.png" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="./img/facebook.png" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="./img/rss.png" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </header>
        <main>
            <div class="header-2">
                <div class="menu">
                    <ul>
                        <li><a href="">Home</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Service</a></li>
                        <li><a href="">Pages</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                </div>
                <div class="busca">
                    <input type="text" />
                </div>
            </div>
        </main>
    </body>
    </html>