<%- include('partials/header') %>
        <h1> AC 328 </h1>
        <form action="/login" method="POST">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
             <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="e-mail">
           </div>
           <div class="form-group col-md-6">
             <label for="exampleInputPassword1">Senha</label>
             <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
           </div>
           <div class="modal-footer mt-4">
             <button type="submit" class="btn btn-primary">Logar</button>
        </div>
    </form>
    <hr></hr>
    <form action="/createuser" method="POST">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
             <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="@email">
           </div>
           <div class="form-group col-md-6">
             <label for="exampleInputPassword1">Senha</label>
             <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
           </div>
           <div class="modal-footer mt-4">
             <button type="submit" class="btn btn-primary">Logar</button>
        </div>
    </form>
<%- include('partials/footer') %>